</main>
<footer>
  <p>Copyright &copy; Yascha Torfs 2019</p>

  <input type="knop" name="button" value="E-mail"></input>
  <input type="button" name="send" value="send"></input>

</footer>

</body>
</html>
