<!DOCTYPE html>
<html lang="nl-be" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mijn WebAPP</title>

    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="head">


    <header>
    <h1>Portfolio : Yascha Torfs</h1>
    </div>
  <% include nav %>
    </header>
    <main>
