<% include header %>

      <div class="intro">
      <p>Welkom op de startpagina van Yascha Torfs</p>
      </div>


<div class="container">

<div class="foto">
<img src="img/header.jpg" alt="test"></img>
</div>

<div class="paragraaf1">
<h1>Hey en welkom op mijn portfolio site!</h1>
<p>Ik ben een student aan de AP-Hogeschool in Antwerpen. Mijn studie, Cross-media ontwerp
  heeft me vele eigenschappen aangeleerd voor de grafische/digitale wereld later.
  Enkele van deze eigenschappen heb ik dan verwerkt in projecten/ontwerpen.
  De zaken die mij voornamelijk aanspreken op dit moment zijn Adobe After
  Effects/ [2D-Animation] | Cinema4D | Webdevelopment [HTML,CSS] [JS / bibliotheken als : Isotope/Leaflet/P5Js] |
  Verder werk ik zeer technisch als creatief met de zaken waarmee ik werk.
  Ik streef altijd naar een professionele werkhouding om zo gestructureerd en doelgericht te werken.</p>
</div>

</div>

<% include footer %>
