<% include header %>

      <div class="introportfolio">
      <p>Hier staan enkele werken i.f.v de portfolio</p>
      <img src="img/header.jpg" alt="cube"></img>
      <img src="img/dove.jpg" alt="dove"></img>
      <img src="img/room.jpg" alt="room"></img>
      <img src="img/watch.jpg" alt="watch"></img>
      <img src="img/flyer.jpg" alt="flyer"></img>
      <img src="img/logo.jpg" alt="logo"></img>
      </div>

<% include footer %>
